:root {
  // Color Base
  --hue: 220;
  --saturation: 10%;
  // Light Components Variables
  --light-color-text: hsl(var(--hue), var(--saturation), 0%);
  --light-color-background: hsl(var(--hue), var(--saturation), 100%);
  --light-color-leftbar-background: hsl(var(--hue), var(--saturation), 92%);
  --light-color-header-background: hsl(var(--hue), var(--saturation), 88%);
  --light-color-main-panel-background: hsl(var(--hue), var(--saturation), 95%);
  --light-color-footer-background: hsl(var(--hue), var(--saturation), 80%);
  // Dark Components Variables
  --dark-color-text: hsl(var(--hue), var(--saturation), 100%);
  --dark-color-background: hsl(var(--hue), var(--saturation), 20%);
  --dark-color-leftbar-background: hsl(var(--hue), var(--saturation), 17%);
  --dark-color-header-background: hsl(var(--hue), var(--saturation), 13%);
  --dark-color-main-panel-background: hsl(var(--hue), var(--saturation), 15%);
  --dark-color-footer-background: hsl(var(--hue), var(--saturation), 10%);
  // Main Variables
  --color-selection: #dd2764;
  --color-error: #8a0a0a;
  --color-warning: #c97d1a;
  --color-info: #567cb4;
} //root
