:root {
  --font-family: 'Raleway', Helvetica, sans-serif;
  --font-size-titles: 1.35rem;
  --font-size-subtitles: 1.05rem;
  --font-size-paragraph: 0.968rem;
  --font-size-details: 0.868rem;
  --font-weight-thin: 100;
}
