.header-panel {
  background-color: var(--light-color-header-background);
  grid-area: headerpanel;
  padding: 0.75rem;
  position: sticky;
  top: 0;

  .title {
    font-size: var(--font-size-titles);
  }
  .subtitle {
    font-size: var(--font-size-subtitles);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--dark-color-header-background);
  } //@media
} //header-panel
