.footer-panel {
  background-color: var(--light-color-footer-background);
  grid-area: footerpanel;
  padding: 0.2rem;
  min-height: 4.7rem;

  @media (prefers-color-scheme: dark) {
    background-color: var(--dark-color-footer-background);
  } //prefers-color-scheme
} // footer-panel
