.leftpanel {
  display: none;
  grid-area: leftpanel;
  background-color: var(--color-leftbar-background);
  border: 1px solid gold;

  @media (min-width: 800px) {
    display: block;
  } //@media
} // leftpanel
