.leftpanel {
  display: none;
  grid-area: leftpanel;
  background-color: var(--light-color-leftbar-background);
  color: var(--light-color-text);

  @media (min-width: 800px) {
    display: block;
  } //@media

  @media (prefers-color-scheme: dark) {
    background-color: var(--dark-color-leftbar-background);
    color: var(--dark-color-text);
  } //prefers-color-scheme
} // leftpanel
